@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #52ACFF 0%, #c1aa16 100%);
    box-shadow: 4px 5px 5px 0 #3e0e60;
    padding: 18px 24px;
    max-width: 362px;
}
.container h3{
    color: #891111
}
.container1{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #52ACFF 0%, #c1aa16 100%);
    box-shadow: 4px 5px 5px 0 #3e0e60;
    padding: 18px 24px;
    max-width: 360px;
}
.container1 h3{
    color: #891111;
}
.container2{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #52ACFF 0%, #c1aa16 100%);
    box-shadow: 4px 5px 5px 0 #3e0e60;
    padding: 18px 24px;
    max-width: 367px;
}
.container2 h3{
    color: #891111;
}
.container img{
    border-radius: 7px;
}
.container1 img{
    border-radius: 7px;
}
.container2 img{
    border-radius: 7px;
}
.image{
    margin-bottom: 26px;
}
.title{
    font-size: 25px;
    font-weight: 700;
}
.description{
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}
.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}
.skill{
    font-size: 25px;
    font-weight: 400;
    border-radius: 50px;
    background: var(--color-dark);
    padding: 2px 22px;
}
.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}
.link{
    text-decoration: none;
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    border-radius: 50px;
    background: var(--color-primary);
    padding: 1px 22px;
    cursor: pointer;
}
.link:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: rgb(84, 84, 20);
}