:root {
    /* Colors */
    --color-text:#ffffff;
    --color-primary:#1c8e88;
    --color-secondary:#b6eaf1;
    --color-dark:#92800a;
    --color-bg:#807a26;

    /* Fonts */
    --font-robot0: "Roboto";

}
/* #576cbc
#19376d
#0b2447
#04152d */
/* 
#891111
#750808 
#be078a
#d96aba
*/